
.container{
    display: flex;
    justify-content: space-between;
}
    .box1{
        width: 200px;
        height: 200px;
        background-color: beige;
    }
    
    .box2{
        width: 200px;
        height: 200px;
        border: 20px solid;
        background-color: beige;
    }
    
    .box3{
        width: 200px;
        height: 200px;
        border: 20px solid;
        padding: 20px;
        background-color: beige;
    }
    
    .box4{
        width: 200px;
        height: 200px;
        border: 20px solid;
        padding: 20px;
        margin: 20px;
        background-color: beige;
    }